<div class="outter-container">
    <app-content-skeleton *ngIf="isLoading" [blocks]="4"></app-content-skeleton>
    <app-recipe-layout
        *ngIf="!isLoading"
        #recipeLayout
        [recipes]="currentRecipes"
        [allRecipes]="allRecipes"
        [categories]="categories"
        [category]="navigation.category"
        [searchQuery]="search.query"
        (searchChange)="searchRecipes($event)"
        (recipeSelect)="goToRecipe($event)"
        (openSearchOverlay)="openSearchOverlay()">
    </app-recipe-layout>
</div>