<ng-container *ngIf="filteredGroups as visibleGroups">
  <table class="field-groups-table">
    <colgroup>
      <col class="col-name" />
      <col class="col-desc" />
    </colgroup>
    <thead>
      <tr class="filter-row">
        <th colspan="2">
          <div class="field-groups-filter">
            <mat-icon class="filter-icon" aria-hidden="true">search</mat-icon>
            <input
              type="search"
              [placeholder]="placeholder"
              [value]="filterQuery"
              (input)="onFilterInput($event)"
              aria-label="Filter fields"
            />
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let group of visibleGroups; trackBy: trackByIndex">
        <tr class="group-row">
          <td colspan="2">{{ group.title }}</td>
        </tr>
        <tr *ngFor="let item of group.fields; trackBy: trackByIndex" class="field-row">
          <td class="cell-name"><code>{{ item.name }}</code></td>
          <td class="cell-desc">{{ item.description }}</td>
        </tr>
      </ng-container>
      <tr *ngIf="visibleGroups.length === 0" class="empty-row">
        <td colspan="2">No fields match &ldquo;{{ filterQuery }}&rdquo;.</td>
      </tr>
    </tbody>
  </table>
</ng-container>
