<ng-container [ngSwitch]="block.type">
  <!-- Heading 2 -->
  <section *ngSwitchCase="'h2'" class="block-section" [id]="getBlockId(block.content || '')">
    <h2 class="block-h2">{{ block.content }}</h2>
    <ng-container *ngIf="block.children">
      <app-setup-block
        *ngFor="let child of block.children"
        [block]="child"
        [basePath]="basePath">
      </app-setup-block>
    </ng-container>
  </section>
 
  <!-- Heading 3 (Collapsible Step) -->
  <section *ngSwitchCase="'h3'" class="block-section block-step" [class.collapsed]="isCollapsed" [id]="getBlockId(block.content || '')">
    <div class="step-header" (click)="toggleCollapse()">
      <h3 class="block-h3">{{ block.content }}</h3>
      <mat-icon class="step-toggle-icon">{{ isCollapsed ? 'expand_more' : 'expand_less' }}</mat-icon>
    </div>
    <div class="step-content" *ngIf="!isCollapsed && block.children">
      <app-setup-block
        *ngFor="let child of block.children"
        [block]="child"
        [basePath]="basePath">
      </app-setup-block>
    </div>
  </section>

  <!-- Heading 4 -->
  <section *ngSwitchCase="'h4'" class="block-section" [id]="getBlockId(block.content || '')">
    <h4 class="block-h4">{{ block.content }}</h4>
    <ng-container *ngIf="block.children">
      <app-setup-block
        *ngFor="let child of block.children"
        [block]="child"
        [basePath]="basePath">
      </app-setup-block>
    </ng-container>
  </section>

  <!-- Paragraph -->
  <ng-container *ngSwitchCase="'p'">
    <p class="block-p" [innerHTML]="renderContent(block.content)"></p>
    <ng-container *ngIf="block.children">
      <app-setup-block
        *ngFor="let child of block.children"
        [block]="child"
        [basePath]="basePath">
      </app-setup-block>
    </ng-container>
  </ng-container>

  <!-- Unordered List - single child renders inline without a bullet -->
  <ng-container *ngSwitchCase="'ul'">
    <app-setup-block
      *ngIf="block.children?.length === 1; else multipleUl"
      [block]="block.children![0]"
      [basePath]="basePath">
    </app-setup-block>
    <ng-template #multipleUl>
      <ul *ngIf="(block.children?.length || 0) > 1" class="block-list">
        <li *ngFor="let child of block.children">
          <app-setup-block [block]="child" [basePath]="basePath"></app-setup-block>
        </li>
      </ul>
    </ng-template>
  </ng-container>

  <!-- Ordered List - single child renders inline without a number -->
  <ng-container *ngSwitchCase="'ol'">
    <app-setup-block
      *ngIf="block.children?.length === 1; else multipleOl"
      [block]="block.children![0]"
      [basePath]="basePath">
    </app-setup-block>
    <ng-template #multipleOl>
      <ol *ngIf="(block.children?.length || 0) > 1" class="block-list block-list-ordered">
        <li *ngFor="let child of block.children">
          <app-setup-block [block]="child" [basePath]="basePath"></app-setup-block>
        </li>
      </ol>
    </ng-template>
  </ng-container>

  <!-- Image -->
  <figure *ngSwitchCase="'image'" class="block-figure" [attr.data-size]="block.size || 'full'" appSimpleZoomable [enableHoverZoom]="false">
    <img [src]="getImagePath(block.content || '')" [alt]="block.alt || ''" class="block-image" />
    <figcaption *ngIf="block.caption?.length" class="block-caption">
      <ul>
        <li *ngFor="let item of block.caption; trackBy: trackByIndex">{{ item }}</li>
      </ul>
    </figcaption>
  </figure>

  <!-- Video -->
  <div *ngSwitchCase="'video'" class="block-video-container">
    <iframe
      *ngIf="isYouTubeUrl(block.src)"
      [src]="getYouTubeEmbedUrl(block.src || '')"
      class="block-video"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen>
    </iframe>
    <video *ngIf="block.src && !isYouTubeUrl(block.src)" [src]="getVideoPath(block.src)" controls class="block-video"></video>
  </div>

  <!-- Code -->
  <pre *ngSwitchCase="'code'" class="block-code"><code #codeBlock [class]="'language-' + getHljsLanguage(block.language)">{{ block.content }}</code></pre>

  <!-- Callout -->
  <div *ngSwitchCase="'callout'" class="block-callout" [attr.data-variant]="block.variant || 'info'" [class.has-title]="!!block.title">
    <!-- With title: header (icon + title) on top, body below -->
    <ng-container *ngIf="block.title">
      <div class="callout-header">
        <span class="callout-icon">
          <ng-container [ngSwitch]="block.variant">
            <mat-icon *ngSwitchCase="'warning'">warning</mat-icon>
            <mat-icon *ngSwitchCase="'error'">error</mat-icon>
            <mat-icon *ngSwitchCase="'success'">check_circle</mat-icon>
            <mat-icon *ngSwitchDefault>info_outline</mat-icon>
          </ng-container>
        </span>
        <div class="callout-title">{{ block.title }}</div>
      </div>
      <div *ngIf="block.content || block.children?.length" class="callout-body">
        <div *ngIf="block.content" class="callout-content" [innerHTML]="renderContent(block.content)"></div>
        <ng-container *ngIf="block.children">
          <app-setup-block
            *ngFor="let child of block.children"
            [block]="child"
            [basePath]="basePath">
          </app-setup-block>
        </ng-container>
      </div>
    </ng-container>

    <!-- Without title: icon + content inline (original layout, preserves existing callouts) -->
    <ng-container *ngIf="!block.title">
      <span class="callout-icon">
        <ng-container [ngSwitch]="block.variant">
          <mat-icon *ngSwitchCase="'warning'">warning</mat-icon>
          <mat-icon *ngSwitchCase="'error'">error</mat-icon>
          <mat-icon *ngSwitchCase="'success'">check_circle</mat-icon>
          <mat-icon *ngSwitchDefault>info_outline</mat-icon>
        </ng-container>
      </span>
      <div class="callout-body">
        <div *ngIf="block.content" class="callout-content" [innerHTML]="renderContent(block.content)"></div>
        <ng-container *ngIf="block.children">
          <app-setup-block
            *ngFor="let child of block.children"
            [block]="child"
            [basePath]="basePath">
          </app-setup-block>
        </ng-container>
      </div>
    </ng-container>
  </div>

  <!-- Instruction (steps + image) -->
  <div *ngSwitchCase="'instruction'" class="block-instruction">
    <ul *ngIf="block.steps?.length" class="instruction-steps">
      <li *ngFor="let step of block.steps; trackBy: trackByIndex" [innerHTML]="step"></li>
    </ul>
    <figure *ngIf="block.content" class="instruction-figure" appSimpleZoomable [enableHoverZoom]="false">
      <img [src]="getImagePath(block.content)" [alt]="block.alt || ''" class="block-image" />
      <figcaption *ngIf="block.caption?.length" class="block-caption">
        <ul>
          <li *ngFor="let item of block.caption; trackBy: trackByIndex">{{ item }}</li>
        </ul>
      </figcaption>
    </figure>
  </div>

  <!-- Tabs -->
  <div *ngSwitchCase="'tabs'" class="block-tabs">
    <div class="tabs-header" role="tablist">
      <button
        *ngFor="let item of block.items; let i = index; trackBy: trackByIndex"
        type="button"
        role="tab"
        class="tab-button"
        [class.active]="activeTabIndex === i"
        [attr.aria-selected]="activeTabIndex === i"
        (click)="selectTab(i)">
        {{ item.label }}
      </button>
    </div>
    <div class="tabs-panel" role="tabpanel" *ngIf="block.items && block.items[activeTabIndex] as activeItem">
      <app-setup-block
        *ngFor="let child of activeItem.children"
        [block]="child"
        [basePath]="basePath">
      </app-setup-block>
    </div>
  </div>

  <!-- Fields (field reference table: flat or grouped, with optional filter) -->
  <app-setup-fields
    *ngSwitchCase="'fields'"
    [fields]="block.fields || []"
    [groups]="block.groups || []"
    [showFilter]="!!block.filterPlaceholder"
    [placeholder]="block.filterPlaceholder || 'Filter fields'">
  </app-setup-fields>

  <!-- Table -->
  <table *ngSwitchCase="'table'" class="block-table">
    <thead>
      <tr>
        <th *ngFor="let col of block.columns"
            [style.width]="col.width"
            [style.textAlign]="col.align || 'left'">
          {{ col.header }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of block.rows">
        <td *ngFor="let col of block.columns"
            [style.textAlign]="col.align || 'left'"
            [innerHTML]="renderContent(row[col.key])">
        </td>
      </tr>
    </tbody>
  </table>
</ng-container>
