// Import typography variables first
@import 'typography';

// Import Salesforce Lightning Design System components
@import 'salesforce-components';

// Import notification styles
@import 'notification';

// Import Prism syntax highlighting theme
@import 'prismjs/themes/prism-tomorrow';

html, body { min-height: 100%; height: auto; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #ffffff;
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.rules-engine-link {
  color: #333;
  text-decoration: none;
}



// Clickable image text styles
.clickable-image {
  color: #1a73e8;
  padding: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  background-color: rgba(26, 115, 232, 0.05);
}

.clickable-image:hover {
  color: #0056b3;
  background-color: rgb(11, 85, 182, 0.1);
}

.clickable-image::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  opacity: 0.7;
  vertical-align: text-top;
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 24 24' fill='%23666' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z'/%3e%3c/svg%3e");

}
